ul {
	margin: 0px;
	padding: 10px;
	border-top: 1px solid #c2cff1;
}

.feed-list {
	flex: 1 0;
	overflow-y: auto;
	background-color: #f8fff1;
}

.spinner-text {
	font-size: 80%;
}

header {
	margin-left: 10px;
	flex: none;
	width: 100%;
}

ul li {
	list-style: none;
	font-size: 10pt;
}


ul li:hover {
	cursor: pointer;
}

.selected {
	font-weight: bold;
}

.caret {
	display: none;
	position: absolute;
	left: 2px;
	margin-top: 2px;
}
.selected .caret {
	display: inline-block;
}
