<div class="flex row">
	<div style="flex: 1 0" *ngIf="feed || title">
		<strong>
			{{title || feed?.title}}
		</strong>
		<div style="font-size: 80%;">
			{{feed?.description}}
		</div>
	</div>

	<div *ngIf="feed">
		<button (click)="readAll()">Mark all as read</button>
		<button (click)="pull()" [disabled]="feed.loading">Update</button>
		<button (click)="delete()">Delete</button>
		<button (click)="increaseFontSize()">+</button>
		<button (click)="decreaseFontSize()">-</button>
	</div>
</div>
