:host /deep/ .flex {
	display: flex;
	max-width: 100%;
	max-height: 100%;
}

:host /deep/ .column.flex {
	flex-direction: column;
	overflow-y: hidden;
}

:host /deep/ .row.flex {
	flex-direction: row;
	overflow-x: hidden;
}


header {
	padding: 4px 4px 10px 10px;
	font-weight: bold;
	line-height: 17px;
}

:host {
	/*border-right: 1px solid black;*/
}
