<ng2-slim-loading-bar></ng2-slim-loading-bar>
<div class="flex row" style="height: 100%;width: 100%;overflow: hidden;">
	<div class="flex column" style="width: 400px;height: 100%;flex: none;border-right: 1px solid #337999;overflow-x: hidden">
		<strong style="
    border-bottom: 1px solid #636262;
    padding-bottom: 12px;"><b>Geek Reader</b></strong>
		<app-feeds-container class="flex column" style="flex: 1 0;"></app-feeds-container>
		<app-buttons [progress]="pullProgress | async"></app-buttons>
	</div>

	<div class="flex column"  style="border-right: 1px solid #3b3b3b; flex: 1 0;">
		<router-outlet></router-outlet>
	</div>
</div>

