:host {
    display: flex;
    flex-direction: column;
}

ul {
    padding: 10px;
    border-top: 1px solid #c2cff1;
}

.feed-list {
    flex: 1 0;
    overflow-y: auto;
}

.spinner-text {
    font-size: 80%;
}
header {
    margin-left: 10px;
    flex: none;
    width: 100%;
}

ul li {
    list-style: none;
}

ul li:hover {
    cursor: pointer;
}

add-feed-button {
    margin: 0 10px;
}

.selected {
    background: #c2cff1;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
}
