:host {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	overflow-y: auto !important;
}

:host /deep/ {
	/** background-color: rgba(0, 0, 0, 0.77);  */
}


add-feed-button {
	margin: 0 10px;
}

/*:host > div {*/
	/*height: 100%;*/
	/*overflow-y: auto;*/
/*}*/
