:host {
	max-width: 400px;
	display: flex;
	flex-direction: column;
}

:host /deep/ {
	background-color: rgba(0, 0, 0, 0.77);
	color: #d8c9c9;
}

ul {
	margin: 0px;
	padding: 10px;
	border-top: 1px solid #c2cff1;
}

.feed-list {
	flex: 1 0;
	overflow-y: auto;
	/*background-color: #f8fff1;*/
}

.spinner-text {
	font-size: 80%;
}

header {
	margin-left: 10px;
	flex: none;
	width: 100%;
}

ul li {
	list-style: none;
	margin-top: 10px;
}

ul li:hover {
	cursor: pointer;
}

add-feed-button {
	margin: 0 10px;
}

.selected {
	font-weight: bold;
}
