md-icon {
    font-size: 12px;
}

.read {
    color: #888888;
}
article /deep/ pre {
    max-width: 100%;
    overflow: auto;
    background-color: white;
}

article /deep/ img {
    max-width: 100%;
    display: block;
}

.title:hover {
    color: rgba(53, 47, 136, 0.58);
}


article /deep/ * {
    font-size: 90%;
}

article {
    margin: 10px 20px;
    padding: 10px;
    background-color: #f1f5ff;
    font-size: 110%;
    border: 1px solid #c2cff1;
}

:host {
    background-color: #fafafa;
    list-style: none;
    padding: 4px;
    border-top: 1px solid #d4d2d2;
    cursor: pointer;
    line-height: 26px;
}

md-icon {
    font-size: 12px;
}
