<div class="flex row">
	<div style="flex: none;display: flex;align-items: center;">
		<md-icon (click)="toggleStarEntry(entry)">
			{{entry.favorite ? 'favorite' : 'favorite_bordered'}}
		</md-icon>
	</div>
	<div style="flex: 1 0">
		<span class="title"
					[ngClass]="{'read': entry.read}" (click)="onClickEntry()">
			{{entry.title.trim()}} | <time>{{entry.published | prettyDate }}</time>
		</span>
		<md-icon (click)="open(entry.url)">link</md-icon>
	</div>
</div>
<app-article
				[fontSize]="fontSize"
				*ngIf="opened" [entry]="entry"></app-article>
