:host {
    overflow-y: auto;
    flex: 1 0;
    background: #ebeff9;
    display: flex;
    flex-direction: column;
}

feed-entry.read .title {
    color: #888888;
}

feed-entry:first-child, feed-entry:last-child {
    border-radius: 4px;
}

feed-entry:first-child {
    border-top: none;
}

feed-toolbar {
    /*height: 40px;*/
    flex: none;
    margin: 10px 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d4d4;
}
